body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #333;
}

.menu {
    text-align: center;
    margin-bottom: 20px;
}

.menu button {
    margin: 5px;
    padding: 10px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.menu button:hover {
    background-color: #0056b3;
}

#form-container,
#product-list {
    float: left;
    margin: 20px 20px;
    padding: 20px;
    background-color: rgb(189, 183, 183);
    border: 1px solid #530202;
    border-radius: 5px;
    width: 400px;
}

#form-container form {
    display: flex;
    flex-direction: column;
}

#form-container form input,
#form-container form button,
#form-container form textarea {
    margin: 10px 0;
    padding: 10px;
}

#form-container form button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

#form-container form button:hover {
    background-color: #218838;
}
